html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  width: 100%;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: hsl(215, 10%, 24%);
  width: 310px;
  height: 300px;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 15px;
}

.star {
  background-color: hsl(217, 12%, 63%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 50%;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: hsl(216, 12%, 54%);
  margin-bottom: 2rem;
}

.numeration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.number {
  background-color: hsla(217, 12%, 63%, 0.274);
  color: hsl(216, 11%, 57%);
  width: 40px;
  height: 40px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.number:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(215, 21%, 72%);
  font-size: 2.5rem;
}

.selected {
  background-color: hsla(218, 32%, 82%, 0.486);
  color: hsl(212, 8%, 33%);
  width: 40px;
  height: 40px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.selected:hover {
  color: hsl(207, 7%, 24%);
}

.submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  height: 3.7rem;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.submit:hover {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.picture {
  display: block;
  margin: 2rem;
  margin-bottom: 2.2rem;
}

.selecionado {
  background-color: hsla(216, 7%, 40%, 0.486);
  color: hsl(25, 97%, 53%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

h2 {
  font-size: 1.2rem;
  display: inline-block;
}

h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.parrafo-aside {
  margin: 0.5rem;
}

.result {
  font-size: 1.2rem;
  font-weight: 600;
}

.refresh {
  color: hsl(25, 97%, 53%);
  font-size: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.inactive {
  display: none;
}
.active {
  background-color: hsl(215, 10%, 24%);
  width: 310px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.attribution {
  color: rgba(255, 255, 255, 0.699);
  position: absolute;
  top: 610px;
  display: inline;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(25, 97%, 53%);
}

@media screen and (max-width: 370px) {
  .main-container {
    background-color: hsl(215, 10%, 24%);
    width: 280px;
    height: 300px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 15px;
  }

  .active {
    background-color: hsl(215, 10%, 24%);
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    border-radius: 15px;
    margin-bottom: 2rem;
  }
}
